@model BiblocateAdminPanel.Models.RoomModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Room " + @Model.Id;
}

<div style="height:750px">

    <h2>Room layout</h2>

    <button id="addButton">Add</button>
    <button id="removeButton">Remove</button>
    <button id="upButton">^</button>
    <button id="downButton">v</button>
    <button id="leftButton"><</button>
    <button id="rightButton">></button>
    <button id="saveButton">Save</button>
    <button id="backButton" onclick="@("window.location.href='" + @Url.Action("Interval/"+@Model.Id, "Room") + "'");">Go back</button>

    <script>
        var shelfId;
        var updatedShelves = [];
        var addedShelves = [];
        var deletedShelves = [];
        $(document).ready(function () {
            $(document).on("click", ".shelf", function () {
                if (shelfId !== $(this).attr("id")) {
                    $("#" + shelfId).css("filter", "hue-rotate(360deg)");
                    shelfId = $(this).attr("id");
                    $(this).css("filter", "hue-rotate(180deg)");
                }
            });
            $("#removeButton").on("click", function () {
                if (shelfId != null) {
                    if (confirm("Are you sure")) {
                        $("#" + shelfId).attr("hidden", true);
                        if (shelfId[0] !== "n") {
                            deletedShelves.push(shelfId);
                            shelfId = null;
                            console.log(deletedShelves);
                        }
                        else {
                            var index = addedShelves.findIndex(item => item.Id === shelfId);
                            addedShelves[index] = null;
                        }
                    }
                }
            });
            $("#addButton").on("click", function () {
                $(".imageDiv").append("<img class='shelf' id='n" + addedShelves.length + "' src='/Content/raf2.jpg' style='position:absolute; top:100px; left:100px;'/>");
                var newShelf = { Id: addedShelves.length + 1, X: 100, Y: 100 , a1: "-", a2: "-", b1: "-", b2: "-"};
                addedShelves.push(newShelf);
                console.log(addedShelves);
            });
            $("#upButton").on("click", function () {
                if (shelfId != null) {
                    var selected = $("#" + shelfId);
                    if (selected.position().top > 0) {
                        selected.css("top", selected.position().top * 2 - 20);
                    }
                }
            });
            $("#downButton").on("click", function () {
                if (shelfId != null) {
                    var selected = $("#" + shelfId);
                    selected.css("top", selected.position().top * 2 + 20);
                }
            });
            $("#leftButton").on("click", function () {
                if (shelfId != null) {
                    var selected = $("#" + shelfId);
                    if (selected.position().left > 0) {
                        selected.css("left", selected.position().left * 2 - 20);
                    }
                }
            });
            $("#rightButton").on("click", function () {
                if (shelfId != null) {
                    var selected = $("#" + shelfId);
                    if (selected.position().left < 100000000) {
                        selected.css("left", selected.position().left * 2 + 20);
                    }
                }
            });
            $("#saveButton").on("click", function () {
                $.post("/Room/Edit", { id: $("#roomImg").attr("value"), updated: updatedShelves, added: addedShelves, deleted: deletedShelves }, function (data, status) {
                    if (status === "success")
                        console.log(data);
                        //$("#backButton").click();
                });
            });
        });
    </script>

    <style>
        .imageDiv {
            position: relative;
            transform-origin: top left;
            transform: scale(0.5);
            padding-top: 10px;
        }
    </style>

    <div class="imageDiv">
        <img id="roomImg" src="/Content/@(Model.Id).jpg" value="@(Model.Id)"/>
        @foreach (var item in Model.Shelves)
        {
            <img class="shelf" id="@(item.Id)" src="/Content/raf2.jpg" style="position:absolute; top:@(item.Y)px; left:@(item.X)px;" />
        }
    </div>

</div>
